@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.display_text {
  background-color: white;
  margin: 15% auto;
  padding: 20px 40px;
  max-width: 60%;
}

.display_text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
